
input[type="button"]{

  font-family: "Montserrat";
  background: #ff3333;
  border: 1px solid #cc0000;
  box-shadow: 0 0 0 2px;
  padding: 9px 99px;
  margin-left: 40%;

  transition: 0.6s all;
  font-size: 22px;
  cursor: pointer;
  display: inline;

}
