<html>

  <table class="content-table">
<thead><tr>
    <th>Information</th>
    <th>Values</th>
</tr></thead>
<tbody>
  <tr>
  <td>Token</td>
  <td>{{recordService.tokenDetails.token}}</td>
</tr>

<tr>
    <td>Name</td>
    <td>{{recordService.tokenDetails.name}}</td>
</tr>

<tr>
    <td>Age</td>

    <td>{{recordService.tokenDetails.age}}</td>
  </tr>

  <tr>
      <td>Email</td>

      <td>{{recordService.tokenDetails.email}}</td>
    </tr>

    <tr>
        <td>Phone</td>

        <td>{{recordService.tokenDetails.phone}}</td>
      </tr>

      <tr>
          <td>Gender</td>

          <td>{{recordService.tokenDetails.gender}}</td>
        </tr>

        <tr>
            <td>Issue</td>

            <td>{{recordService.tokenDetails.issue}}</td>
          </tr>

        <tr>
            <td>Time</td>

            <td>{{recordService.tokenDetails.time}}</td>
          </tr>

</tbody>
</table>



</html>
