

input[type=text].search {
  width: 30%;
  display: inline;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  top: 20%;
  float: none;
  margin-left: 25%;
  background-color: white;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


input[type="button"]{
  background: rgba(30, 144, 255, 0.6);
  box-shadow: 0 0 0 2px;
  border-radius: 1px solid black;
  padding: 12px 99px;
transition: 0.6s all;
cursor: pointer;
align-content: center;
animation: none;
  width: 10%;
  display: inline;

}
