<html>
<body style="background-color: darkgray; height :100vh" >



  <div class="footer-section conact-form">
      <h2 style="transform: translate(45%,563%);font-size: 29px;">Contact Us</h2>
      <br>
      <div class="contact-us">
        <form action="">
          <input type="email" class="" name="" placeholder="Your Email Address..." />
          <textarea cols='30' rows="5"></textarea>
          <input type="submit" value="submit" name="">
        </form>
      </div>

    </div>


</body>
</html>
